 <div class="header">   
        <div class="button_li">   
            <a href="/Huynhbao/huynhbao.html"><img src="/img/Logo/silkVietnam.png" for="i3" alt="" class="flagVN"></a>
            <div class="logo font-3"><a href="" class="decoration" for="i3">VI</a> &nbsp;<a href="" class="decoration" for="i3"> US</a></div>
            <div class="logo-space"></div>
            <label class="button-navbar1 fas fa-arrow-left" for="i3"></label>
            <input type="radio" name="inmage" id="i1" checked>
            <input type="radio" name="inmage" id="i2">     
            <input type="radio" name="inmage" id="i3">        
            
            <div class="div-of-img_li-navbar">    
              <li class="li1-carousel font-2">FREE SHIPPING FOR MEMBERS! &nbsp;&nbsp;<a href="" class="a-navbar font-0 text-color">Sign In or Sign up to Save.</a></li>
              <li class="li2-carousel font-2">30-DAY FREE RETURNS <span class="span-of-li2 font-0 text-color">Keep what you love, return what you don't</span> &nbsp;<a href="" class="a-navbar font-0 text-color">See Details.</a></li>
              <li class="li3-carousel font-2">FREE SHIPPING FOR MEMBERS! &nbsp;&nbsp;<a href="" class="a-navbar font-0 text-color">Sign In or Sign up to Save.</a></li>
            </div>  
            <label class="button-navbar2 fas fa-arrow-right" for="i2"></label>    
        </div>
    </div>
    <!-- Header Search -->
    <div class="body-search">

        <div class="element-left">
            <img src="/img/Logo/convease2.logo.png" alt="" class="logo-search">
            <input type="checkbox" id="push-header">
            <label for="push-header" class="a1 pointer hover-alpha font-2 decoration user-select">Women</label>
            <!-- <p1 class="a1 pointer hover-alpha font-2 decoration" >Women</p1> -->
            <p1 class="a2 pointer hover-alpha font-2 decoration">Men</p1>
            <p1 class="a3 pointer hover-alpha font-2 decoration">Kids</p1>
            <p1 class="a4 pointer hover-alpha font-2 decoration">Custom</p1>
            <p1 class="a5 pointer hover-alpha font-2 decoration">Limited Edition</p1>
            <p1 class="a6 pointer hover-alpha font-2 decoration">Sale</p1>
            <a href="/vocabulary" class="a7 pointer hover-alpha font-2 decoration inline">Eloquent JavaScript</a>

             <!-- contain of a -->
            <div class="contain1-a-header"></div>
            <div class="contain-a-header">
                <label for="push-header" class="label1-header font-2 pointer user-select">X</label>
                <div class="a1-header"></div>
            </div>

        </div>
        <div class="element-right">
            <a href="/" class="font-2 decoration a8" >Sign In</a>
            <a href="/tshirts"><img src="/img/Icon/Account-login-ava.png" alt="" class="icon"></a>
            <a href="/tshirts/create"><img src="/img/Icon/Heart-icon.png" alt="" class="icon"></a>
            <a href="/tshirts/cart"><img src="/img/Icon/Cart-shoping.png" alt="" class="icon icon-3"><p class="p-cart-header font-2"></p></a>
            <input type="checkbox" id="check-search">
           
            <label class="search" for="check-search">
                <p class="font-2 p-search user-select" >Search</p>
                <img src="/img/Icon/Icon-Search.png" alt="" class="search-icon icon user-select">
            </label>
            <label class="search1" for="check-search">
                <p class="font-2 p-search user-select">X</p>
            </label>
            
            <div class="search-dad" for="check-search">
                <div class="overlay-search"></div>
                <div class="search-baby">
                    <div class="baby-1">
                        <div class="child-of-baby-1">
                            <div class="child-of-baby-1-1"><a href="" class="a-of-child-of-baby-1"></a><div class="text-of-child-of-baby-1-1 color-white font-2">Shop New Arrivals</div></div>
                            <div class="flex-child-baby1-2">
                                <div class="child-of-baby-1-2">
                                     <p class="text-1-child-of-baby-1-2 font-2 color-white">Best Sellers</p>
                                     <p class="text-2-child-of-baby-1-2 fontawesome-free-5 color-white">All your favorite styles.</p>
                                     <a href="" class="text-3-child-of-baby-1-2 font-2 color-white decoration">Shop Now</a>
                                     <a href="" class="fas fa-arrow-right width-arrow color-white decoration"></a>
                                </div>
                                <div class="child-of-baby-1-3"><a href="" class="a-of-child-of-baby-1-3"></a><div class="text-of-child-of-baby-1-3 font-2">Customize Your Own</div></div>
                            </div>
                          
                        </div>

                        <div class="child-of-baby-2">
                            <div class="flex-child-of-baby-2-1">
                                <div class="child-of-baby-2-1">
                                    <p class="text-1-child-of-baby-2-1 font-2 color-white">Have a question?</p>
                                    <a href="" class="text-3-child-of-baby-2-1 font-2 color-white decoration">Check out our FAQ page</a>
                                    <a href="" class="fas fa-arrow-right width-arrow-2 color-white decoration"></a>
                                </div>
                                <div class="child-of-baby-2-2"><a href="" class="a-of-child-of-baby-2-2"></a><div class="text-of-child-of-baby-2-2 font-2">Shop Seasonal Color</div></div>
                            </div>
                            <div class="child-of-baby-2-3"><a href="" class="a-of-child-of-baby-2-3"></a><div class="text-of-child-of-baby-2-3 font-2">Shop Archive Prints</div></div>
                        </div>
                    </div>


                    <div class="baby-2">
                        <div class="child-of-baby2-1">
                            <!-- <h2 class="h2-of-baby2-1 font-2" data-text="search">search</h2> -->
                            <div class="form-of-baby2-1">
                               <form method="" action="/search/">
                                    <input type="text" name="search" id="input-of-form-of-baby2-1" autocomplete="off">
                                    <label for="input-of-form-of-baby2-1" class="label-name-of-form-of-baby2-1">
                                    <span class="content-name-of-form-of-baby2-1">WHAT ARE YOU LOOKING FOR<img src="/img/Icon/Icon-Search-2.png" alt="" class="img-of-form-of-baby2-1"> </span>
                                    </label>
                                <h2 class="h2-of-baby2-1 font-2" data-text="search">search</h2>
                               </form>
                            </div>
                        </div>    
                        
                        <div class="child-of-baby2-2">
                            <!-- <h3 class="h3-of-baby2-2 font-2" data-text="TOP&nbsp;SEARCHES">TOP&nbsp;SEARCHES</h3> -->
                                <ul class="ul-of-baby2-2 font-2">
                                    <!-- <h3 class="h3-of-baby2-2 font-2" data-text="TOP&nbsp;SEARCHES">TOP&nbsp;SEARCHES</h3> -->
                                    <a href="" class="decoration hover-alpha margin-a-of-baby2-2">CLOTHING</a>
                                    <a href="" class="decoration hover-alpha margin-a-of-baby2-2">CHUCK 70</a>
                                    <a href="" class="decoration hover-alpha margin-a-of-baby2-2">JACK PURCELL</a>
                                    <a href="" class="decoration hover-alpha margin-a-of-baby2-2">SALE</a>
                                    <h3 class="h3-of-baby2-2 font-2" data-text="TOP&nbsp;SEARCHES">TOP&nbsp;SEARCHES</h3>
                                </ul>
                        </div>    


                    </div>
                </div>
                </div>
            </div>

    </div>