<div class="header-add-cart">
    <p class="son-add-cart font-2">Need Help?</p>
    {{!-- <div class="son2-add-cart inline"></div> --}}
</div>
<img src="/img/fake-img/add-cart-3.PNG" alt="" class="img-add-cart inline inline">
<img src="/img/fake-img/add-to-cart.PNG" alt="" class="img2-add-cart inline">
<p class="total-cost-add-cart font-3">00.000đ</p>

<div class="contain-cart inline">
    <div class="product">
        {{!-- <img src="" alt="" class="img-product">
        <a href="" class="name-add-cart"></a>
        <p class="color-add-cart">Color: <span class="span-item-color font-2"> Converse ${item.color}</span></p>
        <p class="size-add-cart">Size <span class="span-item-size font-2"></span></p>
        <p class="date-add-cart">Size <span class="span-ite m-date"></span></p>
        <div class="contain-e-s-r-addcart">
            <a href="" class="edit-add-cart same-add-cart">EDIT</a>
            <a href="" class="save-add-cart same-add-cart">SAVE FOR LATER </a>
            <a href="" class="remove-add-cart same-add-cart">REMOVE</a>
        </div>
        <p class="cost-add-cart"></p>
        <div class="select-add-cart">
            <p class="son-of-selec-add-cart">0</p>
            <span class="arrow1-add-cart"></span>
        </div>  --}}
        <div class="Ullman">‒Ellen Ullman, <span class="italic">Close to the Machine: Technophilia and its Discontents </span></div>
        <div class="Ullman">‒Ellen Ullman, <span class="italic">Close to the Machine: Technophilia and its Discontents</span></div>

    
    </div>
</div>

<div class="delete-cart_itemCart p-cart-header2 span-text-line1 none"></div>
