<div class="font-8 ">Vocabulary :&nbsp Meaning</div>


<form method="POST" action="/vocabulary/store">
    <input type="text" id="vocabWord">
    <input type="text" id="vocabMeaning">
    <button type="submit" class="buttonSub">Gửi</button>
</form>


 <script src="/javascript/createVocab.js"></script>
 <div class="delete-cart_itemCart none"></div>

